body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin-right: 10px;
  display: inline-block;
}

button {
  background-color:rgba(50, 243, 250, 0.9);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2%;
  box-shadow: 1px 1px 1px 1px rgba(157, 139, 161, 0.2);
  max-height: 50px;
}

button:disabled {
  background-color:rgba(16, 78, 63, 0.3);
  color: grey;
}

.nav-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0px;
  margin: 0;
  padding-bottom: 0.5%;
  background-color: rgba(50, 243, 250, 0.9);
  border-radius: 0%;
  width: 100vw;
  z-index: 5;
}

.nav-group a {
  flex: 4;
}

.nav-group h1{
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px rgb(64, 187, 241);
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  flex: 1;
}

.nav-group nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  flex: 1.75;
}

.nav-group nav div {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.nav-group a {
  margin: 0% 3% 0% 3%;
  color: white;
}

.allEventsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.allEvents-headers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}

.single-title img{
  height: 400px;
  width: 600px;
}

.eventListing {
  margin: 3%;
  height: 400px;
  width: 600px;
}

.eventListing a,.single-event{
  position: relative;
}

.eventListing img{
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 600px;
  z-index: -1;
}

.eventInfo{
  color: white;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.eventNameVenue {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  align-items: center;
  width: 562px;
  background-color: rgba(4, 47, 66, 0.45);
}

.eventNameVenue h4{
  padding: 0 1%;
  text-align: center;
}

.eventTickets,.SoldOut{
  padding: 3%;
  margin: 10px;
  background-color: rgba(4, 47, 66, 0.6);
  border-radius: 5%;
}

.single-event {
  margin: 3%;
  display: flex;
  flex-direction: row;
  background-color: rgba(4, 47, 66, 0.45);
  z-index: 0;
}

.single-event img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.single-title{
  color: white;
  display: flex;
  width: 600px;
  height: 400px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.single-title > div{
  background-color: rgba(3, 15, 20, 0.575);
  width: 600px;
  text-align: center;
}

.buyTickets {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: white;
  flex-grow: 2;
}
.tickets-display{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.ticket-items{
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 1%;
}

.individual-ticket {
  transition: all .5s;
}

.individual-ticket input {
  -webkit-appearance: none;
	background-color: #fafafa;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  transition: all .5s;
}

.individual-ticket input:checked {
	background-color: rgb(64, 187, 241);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.selected {
  background-color: rgba(4, 47, 66, 0.45);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(64, 187, 241);
}

.buyTickets li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

/* Add Event Styling */
.addEditForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formItem{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 40vw;
  align-items: center;
}

.formItem input, .formItem textarea, .formItem select{
  width: 100%;
  text-align: center;
  font-size: 1em;
}
/* Cart Page Styling */

.Review-Buy {
  background-image: url("https://cdn.geekwire.com/wp-content/uploads/2017/01/amazonparty07368-1240x823.jpg");
  background-position: center;
  color: aliceblue;
  height: 10em;
  display: flex;
}

.cartView {
  display: flex;
}

.cartItems{
  display: flex;
  flex: 3;
}

.payment{
  flex: 2;
  background-color: beige;
  flex-direction: column;
  max-width: 15em;
}

.singleEventListing0{
  display: flex;
  flex-direction: column;
}
.singleEventListing1{
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}

.eventDetails{
  display: flex;
}

.eventDate{
  flex: 2;
}

.eventInformation2{
  flex: 5;
}

.seatDetails{
  display: flex;
}

.seats{
  flex: 1;
}
.seatInfo{
  flex: 3;
  align-self: flex-start;
}
.ticketImg{
  flex: 2;
}
.smallPic{
  max-width:95%;
}

ul
{
    list-style-type: none;
}

.cartDivider {
  border-top:3px dotted #000;
  width: 95%;
}
