body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0px;
  margin: 0;
  padding-bottom: 0.5%;
  background-color: rgba(50, 243, 250, 0.9);
  border-radius: 0%;
  width: 100vw;
  z-index: 5;
}

.nav-group a {
  flex: 4;
}

.nav-group h1{
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px rgb(64, 187, 241);;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  flex: 1;
}

.nav-group nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  flex: 1;
}

.nav-group nav div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.nav-group a {
  margin: 0% 3% 0% 3%;
  color: white;
}

.allEventsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eventListing {
  margin: 3%;
  height: 400px;
  width: 600px;
}

.eventListing a{
  position: relative;
}

.eventListing img{
  position: absolute;
  top: 0;
  left: 0;
}

.eventInfo{
  color: white;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.eventNameVenue {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  align-items: center;
  width: 562px;
  background-color: rgba(4, 47, 66, 0.45);
}

.eventNameVenue h4{
  padding: 0 1%;
  text-align: center;
}

.eventTickets,.SoldOut{
  padding: 3%;
  margin: 10px;
  background-color: rgba(4, 47, 66, 0.6);
  border-radius: 5%;
}
