body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-color:rgba(50, 243, 250, 0.9);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2%;
  box-shadow: 1px 1px 1px 1px rgba(157, 139, 161, 0.2);
}

button:disabled {
  background-color:rgba(16, 78, 63, 0.3);
  color: grey;
}

.nav-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0px;
  margin: 0;
  padding-bottom: 0.5%;
  background-color: rgba(50, 243, 250, 0.9);
  border-radius: 0%;
  width: 100vw;
  z-index: 5;
}

.nav-group a {
  flex: 4;
}

.nav-group h1{
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px rgb(64, 187, 241);;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  flex: 1;
}

.nav-group nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  flex: 1.75;
}

.nav-group nav div {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.nav-group a {
  margin: 0% 3% 0% 3%;
  color: white;
}

.allEventsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: aquamarine;
}

.allEvents-headers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}

.eventListing {
  margin: 3%;
  height: 400px;
  width: 600px;
}

.eventListing a{
  position: relative;
}

.eventListing img{
  position: absolute;
  top: 0;
  left: 0;
}

.eventInfo{
  color: white;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.eventNameVenue {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  align-items: center;
  width: 562px;
  background-color: rgba(4, 47, 66, 0.45);
}

.eventNameVenue h4{
  padding: 0 1%;
  text-align: center;
}

.eventTickets,.SoldOut{
  padding: 3%;
  margin: 10px;
  background-color: rgba(4, 47, 66, 0.6);
  border-radius: 5%;
}


/* Cart Page Styling */

.Review-Buy {
  background-image: url("https://cdn.geekwire.com/wp-content/uploads/2017/01/amazonparty07368-1240x823.jpg");
  background-position: center;
  color: aliceblue;
  max-height: 5em;
  display: flex;
  font-size: 1.6em;
  align-items: center;

}

.cartBanner{
  padding: 0%;
  margin-left: 1em;
}

.cartView {
  display: flex;
}

.cartItems{
  display: flex;
  flex: 3;
}

.payment{
  flex: 2;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  max-width: 15em;
}

.singleEventListing0{
  display: flex;
  flex-direction: column;
}
.singleEventListing1{
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}

.eventDetails{
  display: flex;
}

.eventDate{
  flex: 2;
}

.eventInformation2{
  flex: 5;
}

.seatDetails{
  display: flex;
}

.seats{
  flex: 1;
}
.seatInfo{
  flex: 3;
  align-self: flex-start;
}
.ticketImg{
  flex: 2;
}
.smallPic{
  max-width:95%;
}

ul
{
    list-style-type: none;
}

.cartDivider {
  border-top:1px dotted rgba(143, 143, 143, 0.788);
  width: 85%;
}

.Email-btn {
  margin-top: 1em;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: .5em .3em .5em .3em;
  text-decoration: none;
}
.Email-btn:disabled{
  color: #ffffffec;
  opacity: 60%;
}

.Email-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.navTotal{
  margin: 0% 3% 0% 3%;
  color: white;
}